* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  padding-top: 72px;

  @media screen and (min-width: 1280px) {
    padding-top: 96px;
  }

  & section {
    width: 100%;
    height: auto;
  }

  & ul {
    list-style: none;
  }

  & a {
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
  }

  & img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
